name: GLaDOS Auto Redeem

on:
  schedule:
    #- cron: '*/5 23 * * *'  # 每5分钟运行一次，UTC时间23点（对应北京时间7点）
    #- cron: '*/5 0-3 * * *'  # 每5分钟运行一次，UTC时间0-3点（对应北京时间8-12点）
    - cron: '*/5 23,0-2 * * *'  # 每5分钟运行一次，UTC时间0-3点（对应北京时间8-12点）
  workflow_dispatch:

jobs:
  redeem:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4
      - name: Run redeem script
        id: run-redeem
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GLADOS_COOKIES: ${{ secrets.GLADOS_COOKIES }}
        run: |
          ls -la
          python .github/workflows/glados_redeem.py
